<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaz's Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sending_email_css.css') }}">
</head>
<body>
    <div class="rectangle">

        <div class="panna">
            <h1>PANNA</h1>
        </div>
        <div class="redirecting">
            <h4>Your Bank ID has been sent to your Gmail</h4>
        </div>
    </div>
    
</body>
</html>